html,
body {
    height: 100%;
}

body{
    font-family: sans-serif, "微軟正黑體";
}
nav ul li a{
    font-size:17px;
}
.navbar-brand{
    font-size:18px;
}

.navbar {
    background-color: transparent !important;
}
.top-nav-collapse{
    background-color: #1C2331 !important;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331 !important;
    }
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.indexGameImage{
    height: 100% !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.indexButton{
    color: #FFFFFF;
    background-color: #37474F;
}
.indexButton:hover{
    color:#FFFFFF;
    background-color: #263238;
}

.st-mdb{
    border-left:4px solid #45526E;
}
.st-mdb small{
    border-left:2px solid #45526E;
}
.featureIcon{
    height:80px;
    width:80px
}
#footer {
    width:100%;
    bottom:0;
}

.pattern-2{
    background: url(../img/overlays/02.png);
}
.pattern-8{
    background: url(../img/overlays/08.png);
}
.pattern-7{
    background: url(../img/overlays/07.png);
}
